.faq3-faq9 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.faq3-max-width {
  gap: var(--dl-space-space-threeunits);
  height: 1px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.faq3-section-title {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  align-items: flex-start;
}
.faq3-content {
  width: 1037px;
}
.faq3-row {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.faq3-content2 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
@media(max-width: 479px) {
  .faq3-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}

.footer11-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.footer11-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: 177px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer11-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.footer11-image1 {
  height: 4rem;
  align-self: center;
}
.footer11-social-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
}
.footer11-credits {
  width: auto;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer11-row {
  flex: 1;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
.footer11-credits1 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media(max-width: 991px) {
  .footer11-social-links {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .footer11-content {
    flex-direction: column;
  }
  .footer11-social-links {
    align-self: center;
  }
  .footer11-row {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .footer11-credits1 {
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer11-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer11-image1 {
    height: 3rem;
  }
  .footer11-social-links {
    align-items: center;
    justify-content: center;
  }
  .footer11-credits {
    gap: 0;
  }
  .footer11-row {
    align-items: center;
    justify-content: center;
  }
}

.footer8-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
  justify-content: center;
}
.footer8-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer8-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.footer8-newsletter {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer8-content-title1 {
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.footer8-content1 {
  text-transform: capitalize;
}
.footer8-text08 {
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}
.footer8-text09 {
  text-transform: capitalize;
}
.footer8-links {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
.footer8-column1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer8-footer-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer8-column2 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer8-navlink {
  display: contents;
}
.footer8-column2-title {
  text-decoration: none;
}
.footer8-footer-links1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer8-link6 {
  text-decoration: none;
}
.footer8-link7 {
  text-decoration: none;
}
.footer8-link8 {
  text-decoration: none;
}
.footer8-link9 {
  text-decoration: none;
}
.footer8-credits {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer8-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer8-footer-links2 {
  gap: 24px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
@media(max-width: 991px) {
  .footer8-newsletter {
    width: 300px;
  }
}
@media(max-width: 767px) {
  .footer8-content {
    flex-direction: column;
  }
  .footer8-newsletter {
    width: 100%;
  }
  .footer8-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footer8-column1 {
    align-items: center;
  }
  .footer8-column1-title {
    text-align: center;
  }
  .footer8-footer-links {
    align-self: center;
  }
  .footer8-column2 {
    align-items: center;
  }
  .footer8-column2-title {
    text-align: center;
  }
  .footer8-footer-links1 {
    align-self: center;
  }
  .footer8-row {
    gap: 0;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .footer8-links {
    flex-direction: column;
  }
  .footer8-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer8-footer-links {
    align-items: center;
    justify-content: center;
  }
  .footer8-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer8-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footer8-credits {
    gap: 0;
  }
  .footer8-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    justify-content: center;
  }
  .footer8-footer-links2 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.gallery-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.gallery-navbar {
  height: 71px;
  align-items: center;
  flex-direction: column;
}
.gallery-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gallery-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-navlink {
  display: contents;
}
.gallery-image {
  flex: 1;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  object-fit: cover;
  text-decoration: none;
}
.gallery-navlink1 {
  color: rgb(255, 0, 0);
  font-size: 30px;
  font-family: "Cinzel-Bold";
}
.gallery-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.gallery-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.gallery-text {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.gallery-navlink2 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.gallery-navlink3 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.gallery-navlink4 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.gallery-navlink5 {
  border-width: 0px;
  text-decoration: none;
  background-color: #3a9cff;
}
.gallery-burger-menu {
  display: none;
}
.gallery-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gallery-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.gallery-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gallery-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.gallery-logo1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-image1 {
  width: 22px;
  object-fit: cover;
  margin-right: 14px;
}
.gallery-text02 {
  color: var(--dl-color-scheme-orange100);
}
.gallery-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gallery-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.gallery-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.gallery-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.gallery-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gallery-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.gallery-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.gallery-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  padding-bottom: 0px;
}
.gallery-max-width01 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery-text09 {
  text-align: center;
}
.gallery-text10 {
  text-align: center;
}
.gallery-container001 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
}
.gallery-container002 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image1 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
  animation-name: slideInLeft;
  animation-delay: 0s;
  animation-duration: 1000ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.gallery-container003 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image2 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
  animation-name: slideInDown;
  animation-delay: 0s;
  animation-duration: 1000ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.gallery-container004 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image3 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  animation-name: slideInDown;
  animation-delay: 0s;
  animation-duration: 1000ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.gallery-container005 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image4 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  animation-name: slideInRight;
  animation-delay: 0s;
  animation-duration: 1000ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.gallery-container006 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image5 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  animation-name: slideInLeft;
  animation-delay: 0s;
  animation-duration: 1000ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.gallery-container007 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image6 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  animation-name: slideInUp;
  animation-delay: 0s;
  animation-duration: 1000ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.gallery-container008 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image7 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  animation-name: slideInUp;
  animation-delay: 0s;
  animation-duration: 1000ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.gallery-container009 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image8 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  animation-name: slideInRight;
  animation-delay: 0s;
  animation-duration: 1000ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.gallery-gallery301 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.gallery-max-width02 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery-section-title01 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery-container010 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
}
.gallery-container011 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image101 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container012 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image201 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container013 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image301 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container014 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image401 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container015 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image501 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container016 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image601 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container017 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image701 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container018 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image801 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-gallery302 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.gallery-max-width03 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery-section-title02 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery-container019 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
}
.gallery-container020 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image102 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container021 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image202 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container022 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image302 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container023 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image402 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container024 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image502 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container025 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image602 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container026 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image702 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container027 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image802 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-gallery303 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.gallery-max-width04 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery-section-title03 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery-container028 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
}
.gallery-container029 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image103 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container030 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image203 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container031 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image303 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container032 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image403 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container033 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image503 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container034 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image603 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container035 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image703 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container036 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image803 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-gallery304 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.gallery-max-width05 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery-section-title04 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery-container037 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
}
.gallery-container038 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image104 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container039 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image204 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container040 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image304 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container041 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image404 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container042 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image504 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container043 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image604 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container044 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image704 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container045 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image804 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-gallery305 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.gallery-max-width06 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery-section-title05 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery-container046 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
}
.gallery-container047 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image105 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container048 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image205 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container049 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image305 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container050 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image405 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container051 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image505 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container052 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image605 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container053 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image705 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container054 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image805 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-gallery306 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.gallery-max-width07 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery-section-title06 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery-container055 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
}
.gallery-container056 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image106 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container057 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image206 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container058 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image306 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container059 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image406 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container060 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image506 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container061 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image606 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container062 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image706 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container063 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image806 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-gallery307 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.gallery-max-width08 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery-section-title07 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery-container064 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
}
.gallery-container065 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image107 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container066 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image207 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container067 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image307 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container068 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image407 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container069 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image507 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container070 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image607 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container071 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image707 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container072 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image807 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-gallery308 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.gallery-max-width09 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery-section-title08 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery-container073 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
}
.gallery-container074 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image108 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container075 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image208 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container076 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image308 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container077 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image408 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container078 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image508 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container079 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image608 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container080 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image708 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container081 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image808 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-gallery309 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.gallery-max-width10 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery-section-title09 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery-container082 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
}
.gallery-container083 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image109 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container084 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image209 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container085 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image309 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container086 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image409 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container087 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image509 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container088 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image609 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container089 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image709 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container090 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image809 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-gallery310 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.gallery-max-width11 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery-section-title10 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery-container091 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
}
.gallery-container092 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image110 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container093 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image210 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container094 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image310 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container095 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image410 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container096 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image510 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container097 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image610 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container098 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image710 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container099 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image810 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-gallery311 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.gallery-max-width12 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery-section-title11 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery-container100 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
}
.gallery-container101 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image111 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container102 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image211 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container103 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image311 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container104 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image411 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container105 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image511 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container106 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image611 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container107 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image711 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container108 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image811 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-gallery312 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.gallery-max-width13 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery-section-title12 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery-container109 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
}
.gallery-container110 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image112 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container111 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image212 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container112 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image312 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container113 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image412 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container114 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image512 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container115 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image612 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container116 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image712 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container117 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image812 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-gallery313 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  flex-direction: column;
  padding-bottom: 0px;
}
.gallery-max-width14 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery-section-title13 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery-container118 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
}
.gallery-container119 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image113 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container120 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image213 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container121 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image313 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container122 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image413 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container123 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image513 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container124 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image613 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container125 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image713 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container126 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image813 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-gallery314 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 0px;
  flex-direction: column;
}
.gallery-max-width15 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery-section-title14 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery-container127 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
}
.gallery-container128 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image114 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container129 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image214 {
  width: 100%;
  height: 340px;
  max-width: 600px;
  align-self: center;
}
.gallery-container130 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image314 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container131 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image414 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container132 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image514 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container133 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image614 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container134 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image714 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container135 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-image814 {
  width: 100%;
  height: 340px;
  max-width: 600px;
}
.gallery-container136 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery-container137 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media(max-width: 991px) {
  .gallery-image1 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image2 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image3 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image4 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image5 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image6 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image7 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image8 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image101 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image201 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image301 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image401 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image501 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image601 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image701 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image801 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image102 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image202 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image302 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image402 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image502 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image602 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image702 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image802 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image103 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image203 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image303 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image403 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image503 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image603 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image703 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image803 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image104 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image204 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image304 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image404 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image504 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image604 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image704 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image804 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image105 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image205 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image305 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image405 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image505 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image605 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image705 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image805 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image106 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image206 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image306 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image406 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image506 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image606 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image706 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image806 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image107 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image207 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image307 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image407 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image507 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image607 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image707 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image807 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image108 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image208 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image308 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image408 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image508 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image608 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image708 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image808 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image109 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image209 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image309 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image409 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image509 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image609 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image709 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image809 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image110 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image210 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image310 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image410 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image510 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image610 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image710 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image810 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image111 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image211 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image311 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image411 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image511 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image611 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image711 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image811 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image112 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image212 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image312 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image412 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image512 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image612 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image712 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image812 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image113 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image213 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image313 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image413 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image513 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image613 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image713 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image813 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image114 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image214 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image314 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image414 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image514 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image614 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image714 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery-image814 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
}
@media(max-width: 767px) {
  .gallery-links {
    display: none;
  }
  .gallery-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .gallery-text04 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-text05 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-text06 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-text07 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-text08 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .gallery-section-title {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .gallery-section-title01 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .gallery-section-title02 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .gallery-section-title03 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .gallery-section-title04 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .gallery-section-title05 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .gallery-section-title06 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .gallery-section-title07 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .gallery-section-title08 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .gallery-section-title09 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .gallery-section-title10 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .gallery-section-title11 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .gallery-section-title12 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .gallery-section-title13 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .gallery-section-title14 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .gallery-desktop-menu {
    display: none;
  }
  .gallery-burger-menu {
    display: flex;
  }
  .gallery-mobile-menu {
    padding: 16px;
  }
}
